body
{
    font-family: "Tilt Neon";
    background-color: rgb(165, 165, 165);
    margin: 0px;
    text-align: center;
}

header
{
    width: 100%; height: 1.5cm; 
    display: inline-flex; justify-content: center; align-items: center;
    background-color: rgb(54, 54, 54);
    
    gap: 50%;

    text-shadow: 0 0 5px rgba(252, 252, 252, 0.527);
}

#TituloP
{
    font-family: "Pixelify Sans";
    font-size: 1cm;
    color: greenyellow;
}

#TituloP:hover{
    color: #8b8b8b;
}

ul li{
    list-style: none;
    display: inline-block;
    
}

#PPJ
{
    display: flex; justify-content: center; align-items: center;
    margin-left: auto;  margin-right: auto;
    font-family: 'Abel'; font-size: 30px;
}

/*tablero del juego*/
#board 
{
    background-color:lightgray;
    border-bottom: 1px solid black; 
}






.menu
{
    width: 100%; height: 100%;
    display: block; justify-content:center; align-items: flex-start;
    background-color: rgb(165, 165, 165);
    margin: 0px;
}


.pantalla1
{
    display: flex; justify-content: flex-start; align-items: center;
    width: 70%; height: 50%; border: solid 1px #8b8b8b; border-radius: 10px;
    background-color: aliceblue;
    margin-left: auto;  margin-right: auto; margin-top: 4cm;

    
}










.boton
{
    opacity: 0.8;
    color: aliceblue;
    font-family: "Tilt Neon"; font-size: medium;
    width: auto; height: auto;
    background-color: transparent;
    border: 0px;

}
.boton:hover
{
    opacity: 1;
    color: greenyellow;
}

.boton1:hover
{
    opacity: 1;
    color: #8b8b8b;
}

.boton1{
    opacity: 0.8;
    color: greenyellow;
    font-family: "Tilt Neon"; font-size: medium;
    width: auto; height: auto;
    background-color: transparent;
    margin-left: 20px;
}

a{
    text-decoration: none;
}












#DinoP
{
    width: 20%; height: 30%;
    object-fit: contain;
    position: relative;
    left: 10%;
    top: 25%;
    padding-top: 70px;
}
#TeranodonP
{
    width: 15%; height: 25%;
    object-fit: contain;
    position: relative;
    left: 20%;
    bottom: 25%;
    top: 5%;
    padding-bottom: 20px;

}
#CactusP
{
    width: 25%; height: 30%;
    object-fit: contain;
    position: relative;
    left: 25%;
    top: 25%; 
    padding-top: 170px;
}